# Node.js dependencies
vendor/
templates/
public/assets/images/
public/assets/pdfs/
public/favicon.ico
public/robots.txt
pages/*.php
data/
scripts/
app/lang/en/
.env
.env.local
tailwind.config.js
test.html